body {
    background-color: whitesmoke;
    font-family: Arial;
}
h1 {
    color: Black;
    font-size: 120%;
    font-family: Arial;
}
h2 {
    color: Black;
    font-size: 105%;
    font-family: Arial;
}
p {
    color: darkslateblue;
    font-size: 90%;
    padding: 5px;
    font-family: Arial;
}